body{
    
    font-family:'Josefin Sans',sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;

    
    
}
.sidenav{
    display: inline;
    top: 80px;
    left: 0;  
    height:100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    font-size: 1rem;
    border-top: 1px solid rgba(15, 206, 206,0.5);  
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.sidenav a{
    text-decoration: none;
    color: black;
    padding: 6px 8px 6px 16px;
    display: block;
    margin-left:1rem;
    margin-top: 2rem;
    
    
}
i{
  
    font-size: 1.2rem;
}
.topnavbar{
    margin-left: 17rem;
    height: 5rem;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(228, 218, 218);
    align-items: center;
    
}
.topnavbar a{
    text-decoration: none;
    padding: 4px 6px 4px 10px;
}
.logo img{
    /* display: inline; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    
}
.logo{
    width: 260px;
    height: 80px;
    background: linear-gradient(140deg, #84fab0 0%, #8fd3f4 100%);
    top: 0px;
    left: 0;
    position: fixed; 
    display: flex;
    align-items: center;   
}
.searchbar{
    width: 600px;
    height: 40px;
    max-width: 100%;
    border: 2px solid rgb(228, 218, 218);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-left:35px ;
   
}
#search{
    width: 100%;
    font-family:'Josefin Sans',sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
    background-color:white;
}
.searchbar button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color:rgb(247, 179, 34);
    cursor: pointer;
}
.searchbar button:hover{
    opacity: 0.5;
}
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.profile{
    display: flex;
    align-items: center;
    padding: 10px;
}

.trendinggroups{
    width: 700px;
    height: 130px;
   display: flex;
   justify-content: space-between;
  
}
.group{
    /* position: relative; */
    width: 220px;
    height: 130px;
    /* margin: 10px; */
    background-color:rgb(240, 240, 240);
    
}
#grp1{
    background-color:rgba(240, 167, 57, 0.35)
    
}
#grp2{
    background-color:rgba(101, 213, 241,0.35)
    
}
#grp3 h3,#grp2 h3,#grp1 h3{
    color: rgba(11, 146, 11,1);
    margin:0px 0px 0px 90px;
    padding: 0px 5px 5px 5px;
    font-size:large;
}
#grp3 h2,#grp2 h2,#grp1 h2{
    margin:0px 0px 0px 90px;
    padding: 0px 5px 5px 5px;
    font-size:1.3rem;
}
#grp3 h1,#grp2 h1,#grp1 h1{
    margin:10px 0px 20px 10px;
    padding: 10px 5px 5px 5px;
    font-size:x-large;
}
.watchlist{
    margin-top: 30px;
    width: 700px;
    /* display: block; */
    
}

.watchlistgroups{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 5px;
   overflow-y: scroll;
}
/* .watchlistgroups::-webkit-scrollbar {
    display: none;
  } */

.main{
    margin-left: 275px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.right{
    margin-right: 15px;
}

.wgroup{
    position: relative;
    width: 150px;
    height: 180px;
    text-align: center;
    background-color:#84fab0;
    box-sizing: border-box;
    /* margin: 0px 10px 10px 0px; */
    overflow: hidden;
}
.wgroup h1,.wgroup h4,.wgroup h2{
    margin: 0;
}
.wgroup h4,.wgroup h2{
padding: 10px 5px 5px 5px;

}
.wgroup #syml{
    padding: 5px;
    margin-top: 10px;
    font-size: 23px;
}
.wgroup h4{
    font-size: 15px;
}
.wgroup h2{
    font-size: 20px;
}
.wgroup .delete{
    position: absolute;
    top: 1px;
    left: 122px;
    width: 5px;
    height: 5px;
    z-index: 100;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:#84fab0;
   
}
.wgroup .delete:hover{
    color: #555555;
}
.wgroup button i{
    font-size: 20px;
}
.wgroup #view{
    position: absolute;
    top: 84%;
    right: 30%;
    z-index: 100;
    background-color:black;
    font-size: 19px;
    color: white;
    border: none;
    outline: none;
    font-family:'Josefin Sans',sans-serif;
    cursor: pointer;
}
.wgroup #view:hover{
    opacity: 0.4;
}
.card-container{
    visibility: hidden;
    position:absolute;
    width: 55%;
    height: 80vh;
    background-color: #84fab0;
    left: 20%;
    top: 15%;
    align-items: center;
    text-align: center;
    align-content: center;
    
}
.cards{

    position:absolute;
    width: 90%;
    height: 80%;
    background-color: #84fab0;
    /* margin: 5px 20px 20px 20px; */
    overflow:scroll;
    /* scroll-behavior: smooth; */
    /* display: flex;
    flex-direction: column; */
     left: 5%;
    /* top: 21%; */
}
.cards::-webkit-scrollbar {
    display: none;
  }

.result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.result button{   
   border: none;
   outline: none;
    width: 40px;
    height: 40px;
    background-color: #84fab0;
    cursor: pointer;
}
.result button i{
    font-size: 25px;
    margin: 0;
}
.result button:hover{
    opacity: 0.5;
}
.search-symbol{

    height: 100px;
    margin: 30px;
    border: 2px solid rgb(20, 20, 20);
}
table, th, td {
    border: 1px solid #84fab0;
    border-collapse: collapse;
  }
th, td {
    background-color: #96D4D4;
}
td{
    font-size: 1rem;
}
th{
    font-size: 1rem;
}
th, td{
    padding: 10px 0px 10px 0px;
}
table{
    height: 70%;
}
#modebtn button{
    padding: 5px 15px 5px 15px;
    background-color: #555555;
    color: white;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
#modebtn button:hover{
    opacity: 0.5;
}
#modebtn{
    margin-top: 10px;
    margin-bottom: 10px;   
}
.addtowatchlist{
    width: 50%;
    padding: 7px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}
.addtowatchlist:hover{
    background-color: #f77e75;
}

#images-container {
    display: flex;
    justify-content: center;
}
.news-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    width: 250px;
}
.news-feed-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.8rem;
    
}
.news-feed-banner {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 18rem;
}
.newsfeed-anchor-link {
    background-color: var(--quote-author-color);
    text-decoration: none;
    color: black;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    width: fit-content;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 800;

    
}

.news-feed-a-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    background-color:#8fd3f4;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}
#hline{
    margin-left: 20px;
    font-size: x-large;
}
#datetime{
    font-size: 1rem;
}
#left-menu{
    display: none;
}
@media only screen and (max-width: 600px) {

    .sidenav{
        display: none;
    }
    #left-menu{
        display: block;
    }
    .main{
        width: 100%;
        height: auto;
        margin-left: 15px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
      
        position: relative;
    }
    .trending{
        width: 100%;
        height: 40%;
    }
    #titlehead{
        display: none;
    }
    .trendinggroups{
        display: flex;
        flex-direction: row;
        
        width:100%;
        flex-wrap: wrap;
        height: 10rem;
        margin: 0;
        overflow-y: scroll;
    }
   .group{
        width: 90%;
        height: 9rem;
        margin: 10px 0px 10px 0px;
    }
     .left{
        margin-left: 0;
        width: 100vw;
        height: auto;
    }
    .right{
        display: none;
    } 
    .topnavbar{
        margin: 0px;
        margin-top: 12%;
        height: 7rem;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
       
        border-bottom: 2px solid rgb(228, 218, 218);
        align-items: center; 
        
    }
    #datetime{
        display: none;
    }
    .profile span{
        display: none;
    }
    .logo span{
        display: none;
    }
    .logo{
        position: fixed;
        width: 100%;
    }
    .profile{
        position: absolute;
        top: 2%;
        right: 1%;
        z-index: 100;

    }
    #Notify{
         position: absolute;
        top: 4%;
        right: 25%;
        z-index: 100;
    }
    #trendingtitle{
        font-size: x-large;
        margin: 1rem 0px;
    }
    .watchheadline{
        margin-top: 1rem;
    }
    .watchlist{
        margin-top: 1rem;
        width: 100%;
        height: 50%;
        /* display: block; */
        
    }
    .searchbar{
        width: 80%;
        height: 3rem;
        max-width: 100%;
        border: 2px solid rgb(228, 218, 218);
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        margin-top: 3rem;
    margin-left: 0px;
      /* margin-left: 5px;
      margin-right: 5px;    */
    }
    #search{
        width: 100%;
        font-family:'Josefin Sans',sans-serif;
        font-size: 16px;
        outline: none;
        border: none;
        background-color:white;
    }
    .watchlistgroups{
        width: 100%;
        height: 12rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
        grid-gap: 1rem;
       overflow-y: scroll;
    }
    .wgroup{
        position: relative;
        width: 150px;
        height: 180px;
        text-align: center;
        background-color:#84fab0;
        box-sizing: border-box;
        margin: 0;
        /* margin: 0px 10px 10px 0px; */
        overflow: hidden;
    }
    .card-container{
        visibility: hidden;
        position:absolute;
        width: 100%;
        height: 90%;
        background-color: #84fab0;
        left: 2%;
        top: 12%;
        align-items: center;
        text-align: center;
        align-content: center;
        
    }

    .cards{
    
        position:absolute;
        width: 90%;
        height: 85%;
        background-color: #84fab0;
        /* margin: 5px 20px 20px 20px; */
        overflow:hidden;
        /* scroll-behavior: smooth; */
        /* display: flex;
        flex-direction: column; */
         left: 5%;
        /* top: 21%; */
        margin-bottom: 10px;
        overflow: hidden;
    }
    .addtowatchlist{
        width: 50%;
        padding: 7px 10px;
       
        margin-bottom: 0rem;
        border-radius: 5px;
        background-color: #f44336;
        color: white;
        cursor: pointer;
        border: none;
        outline: none;
    }
}